@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(238, 73, 8);
    color: #fff;
    position: fixed;
    z-index: 1;
}
.logo{
    margin-left: 40px;
    font-family: 'Satisfy', cursive;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}
.navbar li{
    list-style: none;
    margin: 0 15px;
}
.navbar li a{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.navbar li a:hover{
    color: #000;
}
#check{
    display: none;
    /* float: right; */
}
.checkbtn{
    float: right;
    cursor: pointer;
    padding: 10px;
    margin-right: 50px;
    font-size: 20px;
    display: none;
    align-items: center;
}
.container{
    position:relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img{
    width: 100%;
    height: auto;
}
.content1{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.text-part{
    height: auto;
    text-align: justify;
    width: 80%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.text-part h1{
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
    margin: 30px;
    padding: 30px 0;
}
.text-part h2{
    padding: 10px;
}
.text-part ul li{
    list-style: none;
    padding: 10px;

}
iframe{
    padding: 40px;
}
.gallery{
    display: flex;
    justify-content: space-around;
}
.image-gallery{
    position: absolute;
    padding: 20px;
}
.images{
    width: 700px;
    height: auto;
}






@media screen and (max-width: 768px) {
    .container{
      background-size: auto;
    }
   
    .img{
        margin-top: 50px;
    }
    .navbar{
        flex-direction: column;
        position: absolute;
        width: 40%;
        top: 65px;
        right: -100%;
        text-align: center;
        background-color:rgb(238, 73, 8);
        transition: all .5s;
    }
    .navbar li{
        line-height: 50px;
       
        margin: 0;
    }
    .navbar li:hover{
        background-color: rgb(161, 48, 4);
        color: white;
    }
    .checkbtn{
        display: block;
   }
    #check:checked ~ .navbar{
        right : 0;
    }
    iframe{
        position: relative;
        width: 80%;
        height: auto;
    }
    .images{
        width: 350px;
        height: auto;
    }
}
